<h1>musicStudio for Music Teachers</h1>

<% @students.each do |student| %>
    <article>
        <header>
            <h2> <%= student.first_name %> <%= student.last_name %> </h2>
        </header>
        <table>
            <tr>
                <th>Instrument: </th>
                <td><%= student.instrument %></td>
            </tr>
            <tr>
                <th>Year: </th>
                <td><%= student.year.ordinalize %> Year</td>
            </tr>
        </table>
    </article>
<% end %>